image:
  repository: ts-dockerhub.lsst.org/love-commander
  tag: c0028
  pullPolicy: Always
  nexus3: nexus3-docker
env:
  LSST_DDS_PARTITION_PREFIX: tucson
  OSPL_INFOFILE: /tmp/ospl-info-love-commander.log
  OSPL_ERRORFILE: /tmp/ospl-error-love-commander.log
shmemDir: /run/ospl
osplVersion: V6.10.4
service:
  use: true
  port: 5000
  type: ClusterIP
