image:
  repository: nginx
  tag: 1.13.1
  pullPolicy: Always
ingress:
  hostname: love.tu.lsst.org
  annotations:
    kubernetes.io/ingress.class: nginx
imagePullSecrets:
- name: love-nexus3-docker
initContainers:
  frontend:
    image:
      repository: ts-dockerhub.lsst.org/love-frontend
      tag: c0028
      pullPolicy: Always
  manager:
    image:
      repository: ts-dockerhub.lsst.org/love-manager-static
      tag: c0028
      pullPolicy: Always
    command:
    - /bin/sh
    - -c
    - cp -Rv /usr/src/love/manager/static /usr/src/love-manager; cp -Rv /usr/src/love/manager/media
      /usr/src/love-manager
staticStore:
  name: love-nginx-static
  storageClass: rook-ceph-block
  accessMode: ReadWriteOnce
  claimSize: 2Gi
config: |
  server {
    listen 80;
    server_name localhost;
    location / {
      root   /usr/src/love-frontend;
      try_files $uri$args $uri$args/ $uri/ /index.html;
    }
    location /manager {
        proxy_pass http://love-manager-service:8000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_redirect off;
    }
    location /media {
        alias /usr/src/love-manager/media;
    }
    location /manager/static {
        alias /usr/src/love-manager/static;
    }
    location /manager/media {
        alias /usr/src/love-manager/media;
    }
    location /simcam {
        proxy_pass http://simulation-gencam-service.calsys:5013;
        proxy_redirect off;
    }
  }
