image:
  repository: ts-dockerhub.lsst.org/scheduler
  tag: c0028
  pullPolicy: Always
  nexus3: nexus3-docker
env:
  LSST_DDS_PARTITION_PREFIX: tucson
  LSST_SITE: tucson
  S3_ENDPOINT_URL: https://s3.tu.lsst.org
  INDEX: 2
  OSPL_INFOFILE: /tmp/ospl-info-atscheduler.log
  OSPL_ERRORFILE: /tmp/ospl-error-atscheduler.log
envSecrets:
- name: AWS_ACCESS_KEY_ID
  secretName: lfa
  secretKey: aws-access-key-id
- name: AWS_SECRET_ACCESS_KEY
  secretName: lfa
  secretKey: aws-secret-access-key
- name: MYS3_ACCESS_KEY
  secretName: lfa
  secretKey: aws-access-key-id
- name: MYS3_SECRET_KEY
  secretName: lfa
  secretKey: aws-secret-access-key
shmemDir: /run/ospl
osplVersion: V6.10.4
nfsMountpoint:
- name: rubin-sim-data
  containerPath: /home/saluser/rubin_sim_data
  readOnly: false
  server: nfs-scratch.tu.lsst.org
  serverPath: /scratch/scheduler
